

a, a:hover, a:visited, a:link, a:active, a .md-whiteframe, a h3 {
  color: black;
  text-decoration: none;
}

.hidden {
  display:none;
}

.loader {
  text-align:center;
  margin-top:25vh;
  transform:scale(0.5, 0.5);
}

.page {
  margin:0 16px;
  padding-top:80px;
  margin-bottom:16px;
}

.margin-16 {
  margin:16px;
}

.width-100 {
  width:100%;
}

.center {
  text-align:center;
}

.md-sidenav {
  position:fixed;
  top:0; left:0;
  z-index:100;
  height:100vh;
}

.md-sidenav-backdrop {
  width:100vw;
  z-index:99;
}

.toolbar {
  background:rgba(255, 255, 255, 0.84) !important;
  position:fixed;
  top:0; left:0;
  z-index:98;
}


.well-badge {
  z-index:99;
  position:fixed;
  top:-20px;
  right:-16px;
  transform:scale(0.5, 0.5);
}

.wish {
  margin:0 0 16px 0;
  padding:16px;
  width:80vw;
}

.wish::after {
  content: '';
  position: absolute;
  top:0; left:0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px rgba(0, 0, 0, 0.14), 0 1px 10px rgba(0, 0, 0, 0.12);
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.wish:hover::after {
  opacity: 1;
}

.text {
  padding:4px 0;
  font-style:italic;
  overflow-wrap: break-word;
}

.amount {
  font-size: 0.8em;
}
.address {
  font-size: 0.6em;
}